@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clase-display-none {
  display: none;
}

.oscuro {
  background-color: #37383C !important;
}

.oscuro2 {
  background-color: #222326 !important;
}

.blanco {
  color: #ffffff !important;
}

.negro {
  background-color: #000000 !important;
}

.border-blanco {
  border: 1px solid #ffffff !important;
}

#botonVerMas {
  width: 127px;
  height: 50px;
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 18px 31.5px 16px 32.5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#resultadoTitulo {
  text-transform: capitalize;
}

.cuadro {
  width: 260px;
  height: 200px;
  overflow: hidden;
}

.bloque-para-cada-imagen-hover-background {
  background: #572EE5;
}

.opacity-cero-dot-six {
  opacity: 0.6;
}

.btn-gif-card {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  position: relative;
  bottom: 190px;
  left: 133px;
  opacity: 0.7;
  float: left;
  margin-right: 10px;
}

.btn-gif-card img {
  width: 32px;
  height: 32px;
}

.btn-gif-card-trending {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  position: relative;
  bottom: 260px;
  left: 223px;
  opacity: 0.7;
  float: left;
  margin-right: 10px;
}

.btn-gif-card-trending img {
  width: 32px;
  height: 32px;
}

#img-btn-gif-card {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 6px;
}

.btn-fav-active {
  padding: 8px 7px;
}

.btnFavOut {
  display: none;
}

.gifs-guardados-favoritos {
  width: 260px;
  height: 200px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  border-bottom: 2px solid #5ED7C6;
}

.contenedor-del-boton-ver-mas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 78px;
  padding-bottom: 79px;
}

.seccion-favoritos {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo-favoritos {
  color: #572EE5;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding-top: 8px;
}

.caja-de-favoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 29px;
  padding-top: 36px;
}

.Caja-Sin-Contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 109.3px;
  padding-top: 137px;
}

.imagen-sin-contenido {
  width: 150px;
  height: 151px;
}

.texto-sin-contenido {
  text-align: center;
  color: #50E3C2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.favoritos-activado {
  color: #9CAFC3 !important;
}

.seccion-crear-gif {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.2fr 6.9px 0.3fr;
  -ms-grid-columns: 0.2fr 0.2fr 1fr 0.1fr;
      grid-template: 1fr 0.2fr 6.9px 0.3fr/0.2fr 0.2fr 1fr 0.1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camara {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.luz {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 1 / 2;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contenedor-central-crear-gif {
  border: 1px solid #572EE5;
  height: 390px;
  width: 688px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1 / 3/ 1;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 1fr 0.1fr;
  -ms-grid-columns: 0.1fr 1fr 0.1fr;
      grid-template: 0.1fr 1fr 0.1fr/ 0.1fr 1fr 0.1fr;
}

.rollo {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: 2 / 4 / 2 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 30%;
}

.cuadrado-ezquina {
  width: 27px;
  height: 25px;
}

.border-top {
  border-top: 1px solid #50E3C2;
}

.border-bottom {
  border-bottom: 1px solid #50E3C2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.border-left {
  border-left: 1px solid #50E3C2;
}

.border-right {
  border-right: 1px solid #50E3C2;
  justify-self: flex-end;
}

.contenedores-de-numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #572EE5;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  -ms-flex-item-align: center;
      align-self: center;
}

.contenedores-de-numeros p {
  color: #572EE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.contenedor-de-numeros-general {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
}

.linea-separatoria {
  background-color: #572EE5;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: 3 / 3;
  position: relative;
  width: 111%;
  left: -6%;
  border-radius: 5px;
}

.boton-comenzar {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #572EE5;
  background-color: #ffffff;
  color: #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: 4 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 700;
}

.contenedor-central-crear-gif-Inner {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crear-gif-bloque-up {
  text-align: center;
}

.crear-gif-bloque-up span {
  font-family: 'Montserrat', sans-serif;
  color: #572EE5;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.crear-gif-bloque-up span .gifos-word {
  color: #5ED7C6;
  font-size: 35px;
}

.crear-gif-bloque-down {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
}

.background-color {
  background-color: #572EE5;
}

.background-color p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.tamaño-video {
  width: 400px;
}

.contenedor-cronometro {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: 1 / 5;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

@media (max-width: 800px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 47px 76px 23px 83px;
  }
  footer .share #comparte {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  footer .share .social-list {
    margin-top: 24px;
    margin-bottom: 47.8px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .share .social-list li {
    padding: 10px;
  }
  footer .share .social-list .fab {
    color: #CDD6E0;
  }
  footer .rights {
    text-align: center;
  }
  footer .rights span {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .line {
    height: 5px;
    width: 100%;
    background-color: #572EE5;
  }
  header {
    color: #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 29px 26px 17.2px 22px;
  }
  header .big-box {
    width: 60px;
  }
  header .big-box .logo-text {
    position: relative;
    margin-top: -26.4px;
    margin-left: 8px;
    background: white;
  }
  header .big-box .logo-text span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }
  header .logo-box {
    width: 48.8px;
    height: 48.8px;
    background-color: #5ED7C6;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
  }
  header .logo-box .background {
    -webkit-clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
            clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
    background-color: #fff;
  }
  header .right-side nav .menu {
    display: none;
  }
  header .right-side nav .menuOn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 17px;
    list-style: none;
    background-color: rgba(87, 46, 229, 0.9);
    color: #ffffff;
    position: absolute;
    top: 100px;
    left: 0%;
    height: 100%;
  }
  header .right-side nav .menuOn .mini-linea {
    width: 41px;
    height: 0.1px;
    background-color: #ffffff;
    margin-bottom: 2.9px;
  }
  header .right-side nav .menuOn li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right-side img {
    display: none;
  }
  main {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
  main .one .one-tittle {
    width: 286px;
    height: 99px;
    text-align: center;
    margin-bottom: 31px;
  }
  main .one .one-tittle span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 33px;
    color: #7555e7;
  }
  main .one .one-tittle span .gifos-word {
    color: #5ED7C6;
  }
  main .one img {
    width: 273px;
    height: 130px;
  }
  main .one .searcher {
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 27px;
    padding: 13.8px 20px 13px 55px;
    width: 334px;
  }
  main .one .searcher .fa-search {
    color: #7555e7;
  }
  main .one .searcher input {
    outline: none;
    font-size: 16px;
    padding-bottom: 10px;
    width: 90%;
    border: 0;
  }
  main .one .searcher .Lista-Sugerencias {
    display: none;
  }
  main .one .searcher .Lista-Sugerencias input {
    outline: none;
  }
  main .one .searcher .Lista-Activa {
    width: 100%;
    border-top: 1px solid #9CAFC3;
    list-style: none;
  }
  main .one .searcher .Lista-Activa input {
    outline: none;
  }
  main .one .searcher .Lista-Activa li {
    padding-top: 14px;
    font-family: 'Roboto', sans-serif;
    color: #9CAFC3;
    font-size: 16px;
    line-height: 19px;
  }
  main .one .searcher .Lista-Activa li #buscador {
    padding-right: 14.6px;
    color: #9CAFC3;
  }
  main .one .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 31px;
  }
  main .one .trending .trending-tt {
    width: 236px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572EE5;
  }
  main .one .trending .trending-text {
    width: 225px;
    height: 50px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
  }
  main .one .respuesta-de-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    row-gap: 21px;
    max-width: 1127px;
  }
  main .one .respuesta-de-busqueda img {
    width: 156px;
    height: 126px;
  }
  main .two {
    background-color: #F3F5F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  main .two .two-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .two .two-tittle .tendring-gifos-tittle {
    margin-bottom: 7px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #572EE5;
  }
  main .two .two-tittle .tendring-gifos-subtt {
    width: 333px;
    height: 46px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  main .two .two-tittle .tendring-gifos-subtt span {
    display: block;
  }
  main .two .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding-bottom: 82px;
    width: 100%;
  }
  main .two .galery #galeryIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  main .two .galery #galeryIn img {
    width: 243px;
    height: 187px;
    margin-left: 22px;
  }
  main .two .galery .flecha {
    width: 40px;
    height: 40px;
    display: none;
  }
}

@media (min-width: 801px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 116px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .share #comparte {
    line-height: 15px;
    font-size: 13px;
  }
  footer .share .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  footer .share .social-list li {
    padding-left: 17px;
  }
  .line {
    height: 5px;
    width: 100%;
    background-color: #572EE5;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #572EE5;
    text-decoration: none;
  }
  header .fa-bars {
    display: none;
  }
  header .big-box {
    width: 60px;
  }
  header .big-box .logo-text {
    position: relative;
    margin-top: -32px;
    margin-left: 12px;
    background: white;
    width: 55.3px;
    height: 20.1px;
  }
  header .big-box .logo-text span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #572EE5;
  }
  header .logo-box {
    width: 59.1px;
    height: 59.1px;
    background-color: #5ED7C6;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
  }
  header .logo-box .background {
    -webkit-clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
            clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
    background-color: #fff;
  }
  header .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right-side .menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .right-side .menu li {
    padding-right: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #572EE5;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  header .right-side #btn-plus {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #572EE5;
    font-size: 16px;
    padding: 19px;
    background-color: #fff;
    border: 1px solid #572EE5;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
    margin-top: 76px;
  }
  main .one .one-tittle {
    height: 100px;
    text-align: center;
    margin-bottom: 31px;
  }
  main .one .one-tittle span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 50px;
    color: #572EE5;
    text-align: center;
  }
  main .one .one-tittle span .gifos-word {
    color: #5ED7C6;
    font-size: 35px;
  }
  main .one img {
    width: 399px;
    height: 190px;
  }
  main .one .searcher {
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 27px;
    padding: 13.8px 20px 13px 55px;
    width: 551px;
  }
  main .one .searcher .fa-search {
    color: #7555e7;
  }
  main .one .searcher #searcherInput {
    outline: none;
    font-size: 16px;
    padding-bottom: 10px;
    width: 90%;
    border: 0;
  }
  main .one .searcher .Lista-Sugerencias {
    display: none;
  }
  main .one .searcher .Lista-Sugerencias input {
    outline: none;
  }
  main .one .searcher .Lista-Activa {
    width: 100%;
    border-top: 1px solid #9CAFC3;
    list-style: none;
  }
  main .one .searcher .Lista-Activa input {
    outline: none;
  }
  main .one .searcher .Lista-Activa li {
    padding-top: 14px;
    font-family: 'Roboto', sans-serif;
    color: #9CAFC3;
    font-size: 16px;
    line-height: 19px;
  }
  main .one .searcher .Lista-Activa li #buscador {
    padding-right: 14.6px;
    color: #9CAFC3;
  }
  main .one .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 73px;
  }
  main .one .trending .trending-tt {
    width: 236px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #572EE5;
  }
  main .one .trending .trending-text {
    width: 402px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
  }
  main .one .respuesta-de-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 29px;
    max-width: 1127px;
  }
  main .one .respuesta-de-busqueda img {
    width: 260px;
    height: 200px;
  }
  main .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F3F5F8;
    width: 100%;
  }
  main .two .two-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .two .two-tittle .tendring-gifos-tittle {
    margin-top: 67px;
    margin-bottom: 7px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
  }
  main .two .two-tittle .tendring-gifos-subtt {
    width: 360px;
    height: 21px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
  }
  main .two .two-tittle .tendring-gifos-subtt span {
    display: inline;
  }
  main .two .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 182px;
    padding-right: 92px;
    padding-left: 94px;
    width: 100%;
  }
  main .two .galery #galeryIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-left: 22px;
    margin-right: 22px;
  }
  main .two .galery #galeryIn .imagenes-trending {
    width: 357px;
    height: 275px;
    margin-right: 29px;
    position: relative;
  }
  main .two .galery .flecha {
    width: 40px;
    height: 40px;
  }
  .seccion-max {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.1fr 1fr 0.1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 0.1fr 1fr 0.1fr / 1fr 1fr 1fr;
  }
  .seccion-max .cruzClose {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 15.2px;
    height: 15.2px;
  }
  .seccion-max img {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2 / 2;
    width: 695px;
    height: 385px;
  }
  .seccion-max .contenedor-bajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: 3 / 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .seccion-max .contenedor-bajo .btn-gif-card-trending-max {
    display: block;
    width: 32px;
    height: 32px;
    margin: 1%;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    background: unset;
    width: unset;
    height: unset;
    border-radius: unset;
    position: unset;
    bottom: unset;
    left: unset;
    opacity: unset;
    float: unset;
    margin-right: 10px;
  }
  .seccion-max .contenedor-bajo .btn-gif-card-trending-max img {
    display: block;
    width: 32px;
    height: 32px;
  }
}
/*# sourceMappingURL=styles.css.map */