*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.oscuro{
    background-color: #37383C !important;
    color: #ffffff;
}
.oscuro2{
    background-color: #222326 !important;
    color: #ffffff !important; 
}
#botonVerMas{
    width: 127px;
    height: 50px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 18px 31.5px 16px 32.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#resultadoTitulo{
    text-transform: capitalize;
}

#bloque-para-cada-imagen{
    :hover{
        background: #572EE5;
        
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
}

@media (max-width: 800px){
    @import "./mobil-styles/_footer-mobil-styles";
    @import "./mobil-styles/_header-mobil-styles";
    @import "./mobil-styles/_main-mobil-styles";
    
}

@media (min-width: 801px) {
    @import "./desktop-styles/_footer-desktop-styles";
    @import "./desktop-styles/header-desktop-styles";
    @import "./desktop-styles/_main-desktop-styles";
    
}