*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.oscuro{
    background-color: #37383C !important;
    color: #ffffff;
}
.oscuro2{
    background-color: #222326 !important;
    color: #ffffff !important; 
}


@media (max-width: 800px){
    @import "./mobil-styles/_footer-mobil-styles";
    @import "./mobil-styles/_header-mobil-styles";
    @import "./mobil-styles/_main-mobil-styles";
    
}

@media (min-width: 801px) {
    @import "./desktop-styles/_footer-desktop-styles";
    @import "./desktop-styles/header-desktop-styles";
    @import "./desktop-styles/_main-desktop-styles";
    
}