*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clase-display-none{
    display: none;
}
.oscuro{
    background-color: #37383C !important;
}
.oscuro2{
    background-color: #222326 !important;
}
.blanco{
    color: #ffffff !important;
}
.negro{
    background-color: #000000 !important; 
}
.border-blanco{
    border: 1px solid #ffffff !important;
}
#botonVerMas{
    width: 127px;
    height: 50px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 18px 31.5px 16px 32.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}
#resultadoTitulo{
    text-transform: capitalize;
}

.cuadro{
    width: 260px;
    height: 200px;
    overflow: hidden;
}
.bloque-para-cada-imagen-hover-background{
    background: #572EE5;
}
.opacity-cero-dot-six{
    opacity: 0.6;
}
.btn-gif-card{
    display: block;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    position: relative;
    bottom: 190px;
    left: 133px;
    opacity: 0.7;
    float: left;
    margin-right: 10px;
    img{
        width: 32px;
        height: 32px;
    }
}
.btn-gif-card-trending{
    display: block;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    position: relative;
    bottom: 260px;
    left: 223px;
    opacity: 0.7;
    float: left;
    margin-right: 10px;
    img{
        width: 32px;
        height: 32px;
    }
}

#img-btn-gif-card{
    display: block;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 6px;
}
.btn-fav-active{
    padding: 8px 7px;
}
.btnFavOut{
    display: none;
}

.gifs-guardados-favoritos{
    width: 260px;
    height: 200px;
}
.pointer{
    cursor: pointer;
    &:hover{
         border-bottom: 2px solid #5ED7C6;
    }
}
.contenedor-del-boton-ver-mas{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 78px;
    padding-bottom: 79px;
}


.seccion-favoritos {
    order: 1;
    display: flex;
    flex-direction: column;
}

.titulo-favoritos {
    color: #572EE5;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.caja-de-favoritos {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 29px;
    padding-top: 36px;
}

.Caja-Sin-Contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 109.3px;
    padding-top: 137px;
}

.imagen-sin-contenido {
    width: 150px;
    height: 151px;
}

.texto-sin-contenido {
    text-align: center;
    color: #50E3C2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 33px;
}

.favoritos-activado{
    color: #9CAFC3 !important;
}

@media (max-width: 800px){
    @import "./mobil-styles/_footer-mobil-styles";
    @import "./mobil-styles/_header-mobil-styles";
    @import "./mobil-styles/_main-mobil-styles";
    
}

@media (min-width: 801px) {
    @import "./desktop-styles/_footer-desktop-styles";
    @import "./desktop-styles/header-desktop-styles";
    @import "./desktop-styles/_main-desktop-styles";
    
}