* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 800px) {
  header {
    color: #572EE5;
  }
  header .top-line {
    height: 5px;
    width: 100%;
    background-color: #572EE5;
  }
  header .inheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 29px 26px 17.2px 22px;
  }
  header .inheader #btn-plus {
    display: none;
  }
  header .inheader .big-box {
    width: 60px;
  }
  header .inheader .big-box .logo-text {
    position: relative;
    margin-top: -26.4px;
    margin-left: 8px;
    background: white;
  }
  header .inheader .big-box .logo-text span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }
  header .inheader .logo-box {
    width: 48.8px;
    height: 48.8px;
    background-color: #5ED7C6;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
  }
  header .inheader .logo-box .background {
    -webkit-clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
            clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
    background-color: #fff;
  }
  header .inheader nav input {
    display: none;
  }
  header .inheader nav .fa-times {
    display: none;
  }
  header .inheader nav .menu {
    display: none;
  }
  main {
    margin-top: 7px;
  }
  main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
  main .one .one-tittle {
    width: 286px;
    height: 99px;
    text-align: center;
    margin-bottom: 31px;
  }
  main .one .one-tittle span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 33px;
    color: #7555e7;
  }
  main .one .one-tittle span .gifos-word {
    color: #5ED7C6;
  }
  main .one img {
    width: 273px;
    height: 130px;
  }
  main .one .searcher {
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 27px;
    padding: 13.8px 20px 13px 55px;
    width: 334px;
    height: 50px;
  }
  main .one .searcher .fa-search {
    color: #7555e7;
  }
  main .one .searcher input {
    border: 0;
  }
  main .one .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 31px;
  }
  main .one .trending .trending-tt {
    width: 236px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572EE5;
  }
  main .one .trending .trending-text {
    width: 225px;
    height: 50px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
  }
  main .two {
    background-color: #F3F5F8;
  }
  main .two .two-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .two .two-tittle .tendring-gifos-tittle {
    margin-bottom: 7px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #572EE5;
  }
  main .two .two-tittle .tendring-gifos-subtt {
    width: 333px;
    height: 46px;
    margin-bottom: 32px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
}
/*# sourceMappingURL=styles.css.map */