* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oscuro {
  background-color: #37383C !important;
  color: #ffffff;
}

.oscuro2 {
  background-color: #222326 !important;
  color: #ffffff !important;
}

#botonVerMas {
  width: 127px;
  height: 50px;
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  padding: 18px 31.5px 16px 32.5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#resultadoTitulo {
  text-transform: capitalize;
}

.cuadro {
  width: 260px;
  height: 200px;
  overflow: hidden;
}

.btnFav {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  position: relative;
  bottom: 182px;
  left: 164px;
  opacity: 0.7;
}

.btnFav img {
  width: 32px;
  height: 32px;
}

#heartFav {
  display: block;
  width: 18px;
  height: 15.9px;
  background-color: #ffffff;
}

.btnFavOut {
  display: none;
}

@media (max-width: 800px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 47px 76px 23px 83px;
  }
  footer .share #comparte {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  footer .share .social-list {
    margin-top: 24px;
    margin-bottom: 47.8px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .share .social-list li {
    padding: 10px;
  }
  footer .share .social-list .fab {
    color: #CDD6E0;
  }
  footer .rights {
    text-align: center;
  }
  footer .rights span {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .line {
    height: 5px;
    width: 100%;
    background-color: #572EE5;
  }
  header {
    color: #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 29px 26px 17.2px 22px;
  }
  header .big-box {
    width: 60px;
  }
  header .big-box .logo-text {
    position: relative;
    margin-top: -26.4px;
    margin-left: 8px;
    background: white;
  }
  header .big-box .logo-text span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }
  header .logo-box {
    width: 48.8px;
    height: 48.8px;
    background-color: #5ED7C6;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
  }
  header .logo-box .background {
    -webkit-clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
            clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
    background-color: #fff;
  }
  header .right-side nav .menu {
    display: none;
  }
  header .right-side nav .menuOn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 17px;
    list-style: none;
    background-color: rgba(87, 46, 229, 0.9);
    color: #ffffff;
    position: absolute;
    top: 100px;
    left: 0%;
    height: 100%;
  }
  header .right-side nav .menuOn .mini-linea {
    width: 41px;
    height: 0.1px;
    background-color: #ffffff;
    margin-bottom: 2.9px;
  }
  header .right-side nav .menuOn li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right-side img {
    display: none;
  }
  main {
    margin-top: 7px;
  }
  main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
  main .one .one-tittle {
    width: 286px;
    height: 99px;
    text-align: center;
    margin-bottom: 31px;
  }
  main .one .one-tittle span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 33px;
    color: #7555e7;
  }
  main .one .one-tittle span .gifos-word {
    color: #5ED7C6;
  }
  main .one img {
    width: 273px;
    height: 130px;
  }
  main .one .searcher {
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 27px;
    padding: 13.8px 20px 13px 55px;
    width: 334px;
  }
  main .one .searcher .fa-search {
    color: #7555e7;
  }
  main .one .searcher input {
    outline: none;
    font-size: 16px;
    padding-bottom: 10px;
    width: 90%;
    border: 0;
  }
  main .one .searcher .Lista-Sugerencias {
    display: none;
  }
  main .one .searcher .Lista-Sugerencias input {
    outline: none;
  }
  main .one .searcher .Lista-Activa {
    width: 100%;
    border-top: 1px solid #9CAFC3;
    list-style: none;
  }
  main .one .searcher .Lista-Activa input {
    outline: none;
  }
  main .one .searcher .Lista-Activa li {
    padding-top: 14px;
    font-family: 'Roboto', sans-serif;
    color: #9CAFC3;
    font-size: 16px;
    line-height: 19px;
  }
  main .one .searcher .Lista-Activa li #buscador {
    padding-right: 14.6px;
    color: #9CAFC3;
  }
  main .one .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 31px;
  }
  main .one .trending .trending-tt {
    width: 236px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #572EE5;
  }
  main .one .trending .trending-text {
    width: 225px;
    height: 50px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
  }
  main .one .respuesta-de-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    row-gap: 21px;
    max-width: 1127px;
  }
  main .one .respuesta-de-busqueda img {
    width: 156px;
    height: 126px;
  }
  main .two {
    background-color: #F3F5F8;
  }
  main .two .two-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .two .two-tittle .tendring-gifos-tittle {
    margin-bottom: 7px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #572EE5;
  }
  main .two .two-tittle .tendring-gifos-subtt {
    width: 333px;
    height: 46px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  main .two .two-tittle .tendring-gifos-subtt span {
    display: block;
  }
  main .two .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding-bottom: 82px;
  }
  main .two .galery #galeryIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .two .galery #galeryIn img {
    width: 243px;
    height: 187px;
    margin-left: 22px;
  }
  main .two .galery .flecha {
    width: 40px;
    height: 40px;
    display: none;
  }
}

@media (min-width: 801px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 116px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .share #comparte {
    line-height: 15px;
    font-size: 13px;
  }
  footer .share .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  footer .share .social-list li {
    padding-left: 17px;
  }
  .line {
    height: 5px;
    width: 100%;
    background-color: #572EE5;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #572EE5;
  }
  header .fa-bars {
    display: none;
  }
  header .big-box {
    width: 60px;
  }
  header .big-box .logo-text {
    position: relative;
    margin-top: -32px;
    margin-left: 12px;
    background: white;
    width: 55.3px;
    height: 20.1px;
  }
  header .big-box .logo-text span {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
  header .logo-box {
    width: 59.1px;
    height: 59.1px;
    background-color: #5ED7C6;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 20%, 100% 20%, 80% 0%);
  }
  header .logo-box .background {
    -webkit-clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
            clip-path: polygon(10% 10%, 10% 90%, 90% 90%, 90% 10%, 90% 30%, 70% 30%, 70% 10%);
    background-color: #fff;
  }
  header .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .right-side .menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .right-side .menu li {
    padding-right: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #572EE5;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  header .right-side #btn-plus {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #572EE5;
    font-size: 16px;
    padding: 19px;
    background-color: #fff;
    border: 1px solid #572EE5;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
    margin-top: 76px;
  }
  main .one .one-tittle {
    height: 100px;
    text-align: center;
    margin-bottom: 31px;
  }
  main .one .one-tittle span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 50px;
    color: #572EE5;
    text-align: center;
  }
  main .one .one-tittle span .gifos-word {
    color: #5ED7C6;
    font-size: 35px;
  }
  main .one img {
    width: 399px;
    height: 190px;
  }
  main .one .searcher {
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 27px;
    padding: 13.8px 20px 13px 55px;
    width: 551px;
  }
  main .one .searcher .fa-search {
    color: #7555e7;
  }
  main .one .searcher #searcherInput {
    outline: none;
    font-size: 16px;
    padding-bottom: 10px;
    width: 90%;
    border: 0;
  }
  main .one .searcher .Lista-Sugerencias {
    display: none;
  }
  main .one .searcher .Lista-Sugerencias input {
    outline: none;
  }
  main .one .searcher .Lista-Activa {
    width: 100%;
    border-top: 1px solid #9CAFC3;
    list-style: none;
  }
  main .one .searcher .Lista-Activa input {
    outline: none;
  }
  main .one .searcher .Lista-Activa li {
    padding-top: 14px;
    font-family: 'Roboto', sans-serif;
    color: #9CAFC3;
    font-size: 16px;
    line-height: 19px;
  }
  main .one .searcher .Lista-Activa li #buscador {
    padding-right: 14.6px;
    color: #9CAFC3;
  }
  main .one .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 73px;
  }
  main .one .trending .trending-tt {
    width: 236px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #572EE5;
  }
  main .one .trending .trending-text {
    width: 402px;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
  }
  main .one .respuesta-de-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 29px;
    max-width: 1127px;
  }
  main .one .respuesta-de-busqueda img {
    width: 260px;
    height: 200px;
  }
  main .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F3F5F8;
    width: 100%;
  }
  main .two .two-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .two .two-tittle .tendring-gifos-tittle {
    margin-top: 67px;
    margin-bottom: 7px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
  }
  main .two .two-tittle .tendring-gifos-subtt {
    width: 360px;
    height: 21px;
    margin: auto;
    margin-bottom: 32px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
  }
  main .two .two-tittle .tendring-gifos-subtt span {
    display: inline;
  }
  main .two .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    padding-bottom: 182px;
    padding-right: 92px;
    padding-left: 94px;
  }
  main .two .galery #galeryIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .two .galery #galeryIn .imagenes-trending {
    width: 24.8%;
    height: 18.1%;
    margin-left: 22px;
  }
  main .two .galery .flecha {
    width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */