main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .one {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
        margin-top: 76px;

        .one-tittle {

            height: 100px;
            text-align: center;
            margin-bottom: 31px;

            span {
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
                line-height: 50px;
                color: #572EE5;
                text-align: center;

                .gifos-word {
                    color: #5ED7C6;
                    font-size: 35px;
                }
            }
        }

        img {
            width: 399px;
            height: 190px;
        }

        .searcher {
            border: 1px solid #572EE5;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 27px;
            padding: 13.8px 20px 13px 55px;
            width: 551px;


            .fa-search {
                color: #7555e7;
            }

            #searcherInput {
                outline: none;
                font-size: 16px;
                padding-bottom: 10px;
                width: 90%;
                border: 0;
            }

            .Lista-Sugerencias {
                display: none;

                input {
                    outline: none;
                }
            }

            .Lista-Activa {
                width: 100%;
                border-top: 1px solid #9CAFC3;
                list-style: none;

                input {
                    outline: none;
                }

                li {
                    padding-top: 14px;
                    font-family: 'Roboto', sans-serif;
                    color: #9CAFC3;
                    font-size: 16px;
                    line-height: 19px;

                    #buscador {
                        padding-right: 14.6px;
                        color: #9CAFC3;
                    }
                }
            }
        }

        .trending {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-top: 73px;

            .trending-tt {
                width: 236px;
                height: 25px;
                line-height: 25px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                color: #572EE5;
            }

            .trending-text {
                width: 402px;
                height: 25px;
                line-height: 25px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #572EE5;
            }
        }

        .respuesta-de-busqueda {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            gap: 29px;
            max-width: 1127px;

            img {
                width: 260px;
                height: 200px;
            }
        }

    }

    .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3F5F8;
        width: 100%;

        .two-tittle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .tendring-gifos-tittle {
                margin-top: 67px;
                margin-bottom: 7px;
                line-height: 30px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 25px;
                color: #572EE5;
            }

            .tendring-gifos-subtt {
                width: 360px;
                height: 21px;
                margin: auto;
                margin-bottom: 32px;
                line-height: 21px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 17px;
                color: #000000;

                span {
                    display: inline;
                }
            }
        }

        .galery {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 182px;
            padding-right: 92px;
            padding-left: 94px;
            width: 100%;

            #galeryIn {
                display: flex;
                overflow: hidden;
                margin-left: 22px;
                margin-right: 22px;

                .imagenes-trending {
                    width: 357px;
                    height: 275px;
                    margin-right: 29px;
                    position: relative;

                }
            }

            .flecha {
                width: 40px;
                height: 40px;
            }
        }
    }

}

.seccion-max {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cruzClose {
        margin-left: 60%;
        margin-bottom: 8%;
        width: 15.2px;
        height: 15.2px;
    }

    img {
        width: 695px;
        height: 385px;
    }

    .btn-gif-card-trending-max {
        display: block;
        width: 32px;
        height: 32px;
        margin: 1%;

        img {
            display: block;
            width: 32px;
            height: 32px;
        }
    }

    .contenedor-bajo {
        display: flex;
        width: 100%;
        position: relative;
        left: 67%;
    }
}