*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-box-max{
    display: flex;
}
.img-max{
    width: 695px;
    height: 385px;
}
.father-box-carrousel{
    position: relative;
    margin-right: 22px;
    width: 357px;
    height: 275px; 
}

.father-box-searcher{
    position: relative;
    width: 260px;
    height: 200px;
}

.hover-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    padding: 10px;
    background-color: #572EE5;
}

.button-box {
    display: flex;
    align-self: flex-end;
}

.title-box{
    margin-bottom: 41px;
    p{
        color: white;
    }
}

.user-title{
    display: block;
    grid-area: 2 / 1 / 3 / 1;
    margin-left: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.user-title-busqueda{
    display: block;
    grid-area: 2 / 1 / 3 / 8;
    margin-left: 18px;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.clase-display-none{
    display: none;
}
.oscuro{
    background-color: #37383C !important;
}
.oscuro2{
    background-color: #222326 !important;
}
.blanco{
    color: #ffffff !important;
}
.negro{
    background-color: #000000 !important; 
}
.border-blanco{
    border: 1px solid #ffffff !important;
}
.pointer{
    cursor: pointer;
    &:hover{
         border-bottom: 2px solid #5ED7C6;
    }
}

.botonVerMas{
    width: 127px;
    height: 50px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 18px 31.5px 16px 32.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.resultadoTitulo{
    text-transform: capitalize;
}
.opacity-cero-dot-six{
    opacity: 0.7;
    grid-area: 1 / 1 / 3 / 3;
}
/////////////////////////////////////////Desktop
.cuadro{
    width: 260px !important;
    height: 200px !important;
    overflow: hidden !important;
}
.bloque-para-cada-imagen-hover-background{
    background: #572EE5;
}

.btn-gif-card {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    position: relative;
    top: 11px;
    opacity: 0.7;
    margin-right: 10px;
    img{
        width: 32px ;
        height: 32px ;
    }
}

.btn-gif-card-favoritos{
    display: block;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    position: relative;
    bottom: 190px;
    left: 134px;
    opacity: 0.7;
    float: left;
    margin-right: 10px;
    img{
        width: 32px;
        height: 32px;
        //padding: 6px;
    }
}

#img-btn-gif-card{
    display: block;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 6px;
}
.btn-fav-active{
    padding: 8px 7px;
}
.buttonOff{
    display: none;
}

.gifs-guardados-favoritos{
    width: 260px;
    height: 200px;
}

.contenedor-del-boton-ver-mas{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 78px;
    padding-bottom: 79px;
}


.seccion-favoritos {
    order: 1;
    display: flex;
    flex-direction: column;
}

.titulo-favoritos {
    color: #572EE5;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
    text-align: center; 
    padding-top: 8px;
}

.caja-de-favoritos {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 29px;
    padding-top: 36px;
}

.caja-sin-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 137px;
    padding-top: 110px;
}

.imagen-sin-contenido {
    width: 150px;
    height: 151px;
}

.texto-sin-contenido {
    text-align: center;
    color: #50E3C2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 33px;
}

.favoritos-activado{
    color: #9CAFC3 !important;
}

//CREAR GIF
.seccion-crear-gif{
    display: grid;
    grid-template: 1fr 0.2fr 6.9px 0.3fr/0.2fr 0.2fr 1fr 0.1fr;
    justify-content: center;
}
.camara{
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
    align-self: center;
}
.luz{
    grid-area: 1 / 2 / 1 / 2;
justify-self: flex-start;
align-self: center;
}
.contenedor-central-crear-gif{
    border: 1px solid #572EE5;
    height: 390px;
    width: 688px;
    grid-area: 1 / 3/ 1;
    padding: 20px;
    display: grid;
    grid-template: 0.1fr 1fr 0.1fr/ 0.1fr 1fr 0.1fr;
}

.rollo{
    grid-area: 2 / 4 / 2 / 4;
    justify-self: center;
    margin-left: 30%;
}

.cuadrado-ezquina{
    width: 27px;
    height: 25px;
}

.border-top{
    border-top: 1px solid #50E3C2 ;
}
.border-bottom{
    border-bottom: 1px solid #50E3C2 ;
    align-self: end;
    position: relative;
    top: -19px;
}

.border-left{
    border-left: 1px solid #50E3C2 ;
}
.border-right{
    border-right: 1px solid #50E3C2 ;
    justify-self: flex-end;
}
.contenedores-de-numeros{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #572EE5;
    border-radius: 16px;
    width: 32px;
    height: 32px;        
    align-self: center;
    p{
        color: #572EE5;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
    
}
.contenedor-de-numeros-general{
    grid-area: 2 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.contenedor-de-numeros-general-repetir{
    grid-area: 2 / 3;
    display: grid;
    grid-template: 1fr /  1fr 1fr 1fr 1fr;
}


.linea-separatoria{
    background-color: #572EE5;
    grid-area: 3 / 3;
    position: relative;
    width: 111%;
    left: -6%;
    border-radius: 5px;
}
.boton-comenzar{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #572EE5;
    background-color: #ffffff;
    color: #572EE5;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    grid-area: 4 / 3;
    align-self: center;
    justify-self: center;
    font-weight: 700;
}
.contenedor-central-crear-gif-Inner {
    grid-area: 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -9px;
    width: 100%;
    height: 320px;
}
.crear-gif-bloque-up{
    text-align: center;
    span{
        font-family: 'Montserrat', sans-serif;
        color: #572EE5;
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        .gifos-word {
            color: #5ED7C6;
            font-size: 35px;
        }
    }
}
.crear-gif-bloque-down{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;

}

.background-color{
    background-color: #572EE5;
    p{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
}
.tamaño-video{
    width: 480px;
    height: 320px;
}
.contenedor-cronometro{
    grid-area: 1 / 5;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    p{
        color: #572EE5;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 22px;
        font-weight: 700;
    }
}
.caja-mis-gifos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 29px;
    padding-top: 36px;
    padding-bottom: 79px;
}
.subiendo-gif{
    height: 320px;
    background: #572EE5;
    width: 480px;
    position: absolute;
    opacity: 0.6;
    //top: 21px;
}
.subiendo-gif-texto{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 154px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}
.subiendo-gif-img{
    top: 122px;
    position: absolute;
}

.boton-descargar-mi-gifo{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 11px;
    right: 83px;
    :hover{
        background-color: #fff;
        border-radius: 6px;
    }
}
.boton-link-mi-gifo{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 11px;
    right: 41px;
    :hover{
        background-color: #fff;
        border-radius: 6px;
    }
}
.nuevo-gif-div{
    width: 260px;
    height: 200px;
  //  position: relative;
  //  z-index: 1;
}
.nuevo-gif-img{
    width: 260px;
    height: 200px;
   // position: relative;
    //right: 289px;
    //z-index: 0;
}


.nuevo-gif-hover{
    background-color: #572EE5;
    //opacity: 0.6;
    //position: relative;
    //right: 289px;
}

.boton-trash{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 194px;
    left: 131px;
    :hover{
        background-color: #fff;
        border-radius: 6px;
    }
}
.boton-download{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 226px;
    left: 174px;
    :hover{
        background-color: #fff;
        border-radius: 6px;
    }
}
.boton-max{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 258px;
    left: 215px;
    :hover{
        background-color: #fff;
        border-radius: 6px;
    }
}
.div-inter{
    width: 260px;
    height: 200px;
    :hover{
        opacity: 0.6;
    }
}
@media (max-width: 800px){
    @import "../mobil-styles/_footer-mobil-styles";
    @import "../mobil-styles/_header-mobil-styles";
    @import "../mobil-styles/_main-mobil-styles";
    
}

@media (min-width: 801px) {
    @import "../desktop-styles/_footer-desktop-styles";
    @import "../desktop-styles/_header-desktop-styles";
    @import "../desktop-styles/_main-desktop-styles";
    
}